body{
    padding: 0;
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.header{
    width: 100%;
    height: 100%;
    min-height:100vh;
    background-color: #101010;
}

.fst{
    display: flex;
    justify-content: right;
    align-content: center;
    width: 100%;
    height: 60px;

}

.fst_page_buttons{
    width: 120px;
    height: 27px;
    font-weight: 700;
    display: inline-block;
    margin:35px 4% 0px 0px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #A4A4A4;
    text-decoration: none;
}

.fst_page_buttons2{
    margin:20px;
    width: 60px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    padding: 12px 32px;
    background-color: #FFFFFF;
    border-radius: 500px;
    transition: .2s linear;
}
.fst_page_buttons:hover{
    color: #fff;
}
.fst_page_buttons2:hover{
    background-color: #45c21e;
}
/*ADD NOTES*/
.Add_Notes{

}
/*PLATES*/


.plates{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 20px;
    padding:20px;
    border-radius: 0px 20px 20px 0px;
    width: 50%;
    height: 70%;
    min-height: 57px;
    background-color: #1E1E1E;
    transition: .2s linear;
}

.plates:hover{
    background-color: #444444;
}

.Notes{
    font-family: "Montserrat Alternates",sans-serif;
    font-weight: 600;
    font-size: 23px;
    color: #45c21e;
    transition: .2s linear;
}

.textarea{
    font-family: "Open Sans",sans-serif;
    font-weight: 500;
    font-size: 18px;
    transition: .2s linear;
    padding-top:5px;
    color:#fff;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: #101010;
}

::-webkit-scrollbar-thumb{
    background-color: #1E1E1E;
    border-radius:10px;
}

.delete{
    margin:20px 0px 0px 20px;
    position: absolute;
    z-index: 100;
    margin:-117px 0px 0px 48%;
    width: 50px;
    height: 97px;
    border:none;
    background-image:url(../Icons/icons8-мусор-30.png);
    background-repeat: no-repeat;
    background-color: #861d1d;
    background-position: center;
    transition: .2s linear;
    cursor:pointer;
    color-transparent: #861d1d;
}

.delete:hover{
    background-color: #565656;
    color: #000;
}
.form{
    width: 100%;
}
.block_for_plates{
    width: 100%;
    height: 100%;
    min-height: 450px;
    padding-top:40px;
}

.UserName{
    font-family: "Open Sans",sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    padding-top:30px;
}

.LogOut{
    margin:20px;
    width: 60px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    padding: 12px 32px;
    background-color: #fff;
    border-radius: 500px;
    transition: .2s linear;
}

.LogOut:hover{
    background-color: #45c21e;
}